<ion-header>

  <ion-navbar>
    <ion-title>
      {{'user.actionBarTitle' | translate}}
    </ion-title>
    <ion-buttons *ngIf="user && user.id" end>
      <button ion-button color="primary" (click)="editAreas(user)">Areas</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div>
    <ion-row>
      <ion-col col-4 offset-4 col-md-2 offset-md-5>
        <div *ngIf="img==''" [ngStyle]="{'background-image': 'url('+api+'/containers/client-'+user.id+'/download/profilePic.jpg), url(assets/images/user.png)'}"
          class="user-icon border parent" (click)="selectTypeOfPic()">
          <ion-icon id="picture-icon-user" name="camera"></ion-icon>
        </div>
        <img (click)="selectTypeOfPic()" class="border" *ngIf="img!=''" [src]="img">
      </ion-col>
    </ion-row>

  </div>


  <ion-list>
    <form [formGroup]="registerForm">
      <ion-item>
        <ion-label inline>{{ 'user.name' | translate }}</ion-label>
        <ion-input (blur)="try.realm=true" (focus)="try.realm=false" type="text" formControlName="realm" [(ngModel)]="user.realm"></ion-input>
      </ion-item>
      <div class="error-input item-md" [hidden]="!try.realm || (registerForm.controls.realm.valid || !registerForm.controls.realm._errors.required)">{{ 'login.required' | translate }}</div>
      <ion-item>
        <ion-label inline>{{ 'user.phone' | translate }}</ion-label>
        <ion-input (blur)="try.phone=true" (focus)="try.phone=false" type="text" formControlName="phone" [(ngModel)]="user.phone"></ion-input>
      </ion-item>

      <div class="error-input item-md" [hidden]="!try.phone || (registerForm.controls.phone.valid || !registerForm.controls.phone._errors.required)">{{ 'login.required' | translate }}</div>

      <ion-item>
        <ion-label inline>{{ 'user.email' | translate }}</ion-label>
        <ion-input (blur)="try.email=true" (focus)="try.email=false" type="text" formControlName="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <div class="error-input item-md" [hidden]="!try.email || (registerForm.controls.email.valid || !registerForm.controls.email._errors.required)">{{ 'login.required' | translate }}</div>
      <div class="error-input item-md" [hidden]="!try.email || registerForm.controls.email.valid || !registerForm.controls.email._errors.invalidEmail">{{ 'login.shouldBeEmail' | translate }}</div>

      <ion-item>
        <ion-label inline>{{ 'user.address' | translate }}</ion-label>
        <ion-input (blur)="try.address=true" (focus)="try.address=false" type="text" formControlName="address" [(ngModel)]="user.address"></ion-input>
      </ion-item>

      <div class="error-input item-md" [hidden]="!try.address || (registerForm.controls.address.valid || !registerForm.controls.address._errors.required)">{{ 'login.required' | translate }}</div>

    </form>
  </ion-list>


  <ion-row>
    <button *ngIf="!user.id" ion-button (click)="registerUser()" color="primary" [disabled]="registerForm.invalid" block>{{ 'user.save' | translate }}</button>
    <div *ngIf="user.id" class="adjust-horizontal">
      <ion-row>
        <ion-col col-12 col-md-6>
          <button ion-button (click)="updateUser()" color="primary" [disabled]="registerForm.invalid" block>{{ 'user.saveChanges' | translate }}</button>
        </ion-col>
        <ion-col col-12 col-md-6>
          <button ion-button (click)="presentConfirmDelete()" color="danger" [disabled]="registerForm.invalid" block>{{ 'user.deleteUser' | translate }}</button>
        </ion-col>
      </ion-row>

    </div>
  </ion-row>




</ion-content>
