page-create-user {
  .user-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .border {
    border-radius: 50%;
    border: solid 0.18em map-get($colors, primary);
    width: 100px;
    height: 100px;
  }

  .imte-inner {
    margin-top: 30px !important;
  }
  .area-wrapper {
    padding-left: 10px;
  }
  #picture-icon-user {
    position: absolute;
    bottom: 0;
    right: 0;
    color: map-get($colors, primary);
    font-size: 1.25em;
  }
}
