<ion-header>
  <ion-navbar>
    <ion-title>
      <!--<p class="center-text">Resumen del Servicio</p>-->
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <!--<ion-row>
    <p class="header-summary">Resumen</p>
  </ion-row>-->

  <ion-row>
    <ion-col col-6 offset-3>
      <ion-row>
        <canvas id="myChart"></canvas>
      </ion-row>
      <ion-row>
        <p class="center-text pie-caption" *ngIf="service != null ">{{service.done}}/{{service.total}}</p>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let area of areas">
    <ion-card-header>
      <p class="header-summary">{{area.name}}</p>
    </ion-card-header>
    <ion-card-content>
      <table>
        <thead>
          <tr>
            <th>
              ITEM
            </th>
            <th>
              PORCENTAJE
            </th>
          </tr>
          


        </thead>
        <tr *ngFor="let item of area.items">
          <td>
            {{item.name}}
          </td>
          <td *ngIf="item.totalItem!=0">
            {{100*(item.doneItem / item.totalItem) | number:'1.2' }}%
          </td>
          <td *ngIf="item.totalItem==0">
            Sin Atículos
          </td>
        </tr>
        <!--<tr>
          <td>
            Habitación
          </td>
          <td>
            100%
          </td>
        </tr>-->
      </table>
    </ion-card-content>
  </ion-card>

  <!--<ion-card>
    <ion-card-header>
      <p class="header-summary">Oficina 1054</p>
    </ion-card-header>
    <ion-card-content>
      <table>
        <thead>
          <tr>
            <th>
              SECTOR
            </th>
            <th>
              HECHO
            </th>
          </tr>


        </thead>
        <tr>
          <td>
            Sala
          </td>
          <td>
            80%
          </td>
        </tr>
        <tr>
          <td>
            Habitación
          </td>
          <td>
            100%
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>-->

</ion-content>
