<ion-header>
  <ion-navbar>
    <ion-title>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12 col-md-4 offset-md-4>
      <ion-row>
        <canvas id="myChart"></canvas>
      </ion-row>
      <ion-row>
        <p class="center-text pie-caption" *ngIf="service != null ">{{service.done}}/{{service.total}}</p>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let area of areas">
    <ion-card-header>
      <p class="header-summary">{{area.name}}</p>
    </ion-card-header>
    <ion-card-content>
      <table>
        <thead>
          <tr>
            <th>
              {{'summary.item' | translate}}
            </th>
            <th>
              {{'summary.percentage' | translate}}
            </th>
          </tr>

        </thead>
        <tr *ngFor="let item of area.items">
          <td>
            {{item.name}}
          </td>
          <td *ngIf="item.totalItem!=0">
            {{100*(item.doneItem / item.totalItem) | number:'1.2' }}%
          </td>
          <td *ngIf="item.totalItem==0">
            {{'summary.noItems' | translate}}
          </td>
        </tr>

      </table>
    </ion-card-content>
  </ion-card>



</ion-content>
