page-login {
  #container-login {
    margin: auto;
  }
  .company-name {
    margin-top: 10px;
    color: dimgray;
    font-weight: bold;
  }
  .text-center {
    text-align: center;
  }
  ion-content {
    background: linear-gradient(
      to bottom,
      #678f02 0%,
      #678f02 50%,
      white 50%,
      white 100%
    );
  }
  .error-user {
    margin-top: 20px;
    text-align: center;
    color: red;
    font-size: 1.2em;
  }
  #forget-pass {
    font-size: 0.8em;
  }
}
