
@import "pages/area-style";

page-create-areas {


  ion-card {
    position: relative;
    text-align: center;
    img {
      opacity: 0.5;
    }
  }
  .area-name {
    width: 100%;
    text-align: center;
    font-size: 1.65em;
    color: #017DC3 !important;
  }
  .item-name {
    /*width: 100%;
    text-align: center;*/
    font-size: 1em;
    color: #044569 !important;
  }
  .header-buttons{
    width: 21px;
    height: 30px;
  }
  .card-title {
    position: absolute;
    top: 45%;
    color: #017DC3 !important;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
  }
  .plus-item {
    height: 30px !important;
    color: #959595;
  }
  .items-padding{
    padding-left: 10%;
  }
}
