<ion-header>
  <ion-navbar>
    <!-- <button ion-button clear (click)="closeModal()">Cerrar</button> -->
    <ion-buttons end>
      <button ion-button color="primary" clear (click)="presentAlertInput('addArea',1)">{{ 'area.actionBarTitle' | translate }}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="special-item-header" padding>

  <ion-list *ngFor="let area of oldAreas; let i = index">
    <ion-item-divider>
      <ion-label text-center>
        <ion-row>
          <ion-col align-self-center col-8 color="light">
            {{area.name}}
          </ion-col>
          <ion-col align-self-center col-4>

            <button class="header-buttons" ion-button clear icon-only color="light" icon-end (click)="presentAlertInput('updateArea', 4, area)">
              <ion-icon name="create"></ion-icon>
            </button>
            <button class="header-buttons" ion-button clear icon-only color="light" icon-end (click)="presentAlertInput('addItem',2,area)">
              <ion-icon name="add"></ion-icon>
            </button>
            <button class="header-buttons" ion-button clear icon-only color="light" icon-end (click)="deleteArea(area, i)">
              <ion-icon name="trash"></ion-icon>
            </button>

          </ion-col>
        </ion-row>



      </ion-label>



    </ion-item-divider>

    <ion-item *ngFor="let item of area.items; let iItems=index">

      <ion-row align-items-center>

        <ion-col col-8>
          {{item.name}}
        </ion-col>

        <ion-col col-4>

          <ion-buttons end>

            <button class="header-buttons" ion-button clear icon-only color="secondary" icon-end (click)="modifyItem(item)">
              <ion-icon name="logo-buffer"></ion-icon>
            </button>
            <button class="header-buttons" ion-button clear icon-only icon-end color="danger" (click)="deleteItem(item, iItems, i)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <button class="header-buttons" ion-button clear icon-only icon-end color="secondary" (click)="presentAlertInput('updateItem', 5, item)">
              <ion-icon name="create"></ion-icon>
            </button>


          </ion-buttons>

        </ion-col>

        <!--  <ion-col col-4>

          <button ion-button icon-only clear (click)="modifyItem(item)">
            <ion-icon name="logo-buffer"></ion-icon>
          </button>
          <button ion-button icon-only clear color="danger" (click)=" deleteItem(item, iItems, iArea )">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-button icon-only clear color="secondary" (click)="presentAlertInput('Actualizar Item', 5, item)">
            <ion-icon name="create"></ion-icon>
          </button>

        </ion-col> -->

      </ion-row>

    </ion-item>
    <!-- <ion-item-sliding *ngFor="let item of area.items; let iItems=index">
      <ion-item>
        {{item.name}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only clear (click)="modifyItem(item)">
          <ion-icon name="logo-buffer"></ion-icon>
        </button>
        <button ion-button icon-only clear color="danger" (click)=" deleteItem(item, iItems, iArea )">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-button icon-only clear color="secondary" (click)="presentAlertInput('Actualizar Item', 5, item)">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding> -->
  </ion-list>
</ion-content>
