<ion-header>

  <ion-navbar>
    <ion-title>

    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div>
    <h6>{{'approval.clientAprovement' | translate}}</h6>

    <ion-list>
      <ion-item>
        <ion-label>{{'approval.fullName' | translate}}</ion-label>
        <ion-input [(ngModel)]="aprobationName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'approval.endDate' | translate}}</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DDTHH:mm" [(ngModel)]="service.finalDate"></ion-datetime>
      </ion-item>
    </ion-list>
  </div>

  <div>
    <h6>{{'approval.signatures' | translate}}</h6>
    <ion-list>
      <button ion-item (click)="showSignature(1)">
        <div class="inline adjust-horizontal">{{'approval.clientSignature' | translate}}
          <ion-icon *ngIf="signatureClient!=''" class="inline-right" name="checkmark"></ion-icon>
        </div>
      </button>
      <button ion-item (click)="showSignature(2)">
        <div class="inline adjust-horizontal">{{'approval.inspectorSignature' | translate}}
          <ion-icon *ngIf="signatureInspector!=''" class="inline-right" name="checkmark"></ion-icon>
        </div>
      </button>
    </ion-list>
  </div>

  <button [disabled]="signatureClient=='' || signatureInspector =='' || aprobationName==''" ion-button block (click)="presentAlert()">{{'approval.save' | translate}}</button>

</ion-content>
