@import '../../global/style/_theme.scss';
@import '../../global/style/_tools.scss';

app-login {
  ion-scroll {
    background: linear-gradient(
      to bottom,
      $primary-color 0%,
      $primary-color 50%,
      $secundary-color 50%,
      $secundary-color 100%
    );

    #container-login {
      margin: 0 !important;
      @include center-absolute;
    }

    .error-user {
      margin-top: 20px;
      text-align: center;
      $danger-color: red;
      font-size: 1.2em;
    }

    #forget-pass {
      font-size: 0.8em;
    }
  }
}
