<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="logo-container">
        <img class="logo" src="assets/images/logo.png">
        <span> {{'home.actionBarTitle' | translate}}</span>
      </div>
    </ion-title>

    <ion-buttons end>
      <button color="primary" ion-button (click)="presentPopover($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar class="">
    <ion-segment [(ngModel)]="segment" (ionChange)="selectList()">
      <ion-segment-button value="0" color="light">
        {{'home.activesTab' | translate}}
      </ion-segment-button>
      <ion-segment-button value="1">
        {{'home.finishedTab' | translate}}
      </ion-segment-button>
      <ion-segment-button value="2">
        {{'home.clientTab' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar class="">

    <ion-searchbar [(ngModel)]="searchFirlter" placeholder="{{'home.filterHint' | translate}}" [showCancelButton]="true" (ionInput)="doFilter()">
    </ion-searchbar>

  </ion-toolbar>


</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)" pullingIcon="arrow-dropdown" pullingText="Desliza para actualizar" refreshingSpinner="circles">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div [hidden]="segment === '2'">
    <ion-row>

      <ng-container *ngFor="let service of serviceListAux">

      <ion-col col-12 col-md-6 *ngIf="service.client" >

        <ion-card (click)="selectService(service)">
          <ion-card-content>
            <ion-row align-items-center justify-content-center>
              <ion-col col-3>
                <ion-avatar item-start>
                  <div *ngIf="service.client" [ngStyle]="{'background':'url('+api+'/containers/client-'+service.client.id+'/download/profilePic.jpg), url(assets/images/user.png)'  }"
                    class="avatar-img">
                  </div>
                </ion-avatar>
              </ion-col>
              <ion-col col-9 *ngIf="service.client">
                <ion-row>
                  <p class="client-name" color="primary">{{service.client.realm}}</p>
                </ion-row>
                <ion-row>
                  <p class="address" text-wrap>{{service.client.address}}</p>
                </ion-row>
                <ion-row>
                  <p class="address" text-wrap>{{service.initialDate | date:'medium'}}</p>
                </ion-row>
                <ion-row *ngIf="service.finalDate">
                  <p class="address" text-wrap>{{service.finalDate | date:'medium'}}</p>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ng-container>



    </ion-row>

  </div>

  <ion-list [hidden]="segment !== '2'">

    <ion-row>
      
      <ion-col col-12 col-md-6 *ngFor="let client of clientsFiltered">

        <ion-card  (click)="modifyUser(client)">
          <ion-card-content>
            <ion-row align-items-center justify-content-center>
              <ion-col col-3>
                <ion-avatar item-start>
                  <div [ngStyle]="{'background':'url('+api+'/containers/client-'+client.id+'/download/profilePic.jpg), url(assets/images/user.png)'}"
                    class="avatar-img">
                  </div>
                </ion-avatar>
              </ion-col>
              <ion-col col-9>
                <ion-row>
                  <p class="client-name">{{client.realm}}</p>
                </ion-row>
                <ion-row>
                  <p class="address" text-wrap>{{client.address}}</p>
                </ion-row>
                <!-- <ion-row>
                      <p class="address" text-wrap>{{service.initialDate | date:'medium'}}</p>
                    </ion-row> -->
                <!-- <ion-row *ngIf="service.finalDate">
                      <p class="address" text-wrap>{{service.finalDate | date:'medium'}}</p>
                    </ion-row> -->
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>


  </ion-list>

  <ion-fab right bottom>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button (click)="createService()" ion-fab>
        <ion-icon color="primary" name="briefcase">
        </ion-icon>
      </button>
      <button (click)="createUser()" ion-fab>
        <ion-icon color="primary" name="person-add">
        </ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>



</ion-content>
