page-service-detail {
  .item-container {
    min-height: 120px
  }
  .title-drawer-area {
    margin-left: 10px;
  }
  .main-header {
    margin: 0;
    font-size: 0.9em;
  }
  .menu-inner {
    .scroll-content {
      // background: #d4d2d2;
      background: #353438;
    }
  }
  .items {
    border-color: burlywood !important;
    color: burlywood !important;
  }
  .header-card {
    font-size: 1.55em !important;
    color: cornflowerblue;
  }
  .label-item {
    color: grey
  }
  /* .back-drawer {
    color: white !important;
  } */
  .edit-client {
    padding-bottom: 15px !important;
    span {
      font-size: 0.65em !important;
    }
  }
}
