// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

ion-app {
  font-family: 'Open Sans', sans-serif !important;
}

.app-title {
  font-weight: bold;
  color: map-get($colors, primary);
}

$main-color: cornflowerblue;
.no-margin {
  margin: 0 !important;
}

.inline {
  width: 100%;
  display: inline-flex;
}

.inline-right {
  margin-left: auto;
}

.no-padding {
  padding: 0 !important;
}

.toolbar-title {
  font-size: 1.25em;
  font-weight: 100;
}

.error-input {
  color: red;
  font-size: 0.8em;
}

.color-grey-icon {
  color: #6b6c6e !important;
  font-size: 1em !important;
}

.center-text {
  width: 100%;
  text-align: center;
}

.header-top {
  padding-right: 44px;
}

.parent {
  position: relative;
}

.center-item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-item-vertical {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  text-align: center;
}

.center-item-horizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.card-note {
  background: bisque;
}

.adjust-horizontal {
  width: 100%;
}

.adjust {
  width: 100%;
  height: 100%;
}

.header-back-btn {
  padding-right: 20%;
}

.logo-container {
  display: flex;
  align-items: center;

  .logo {
    margin-top: 8px;
    margin-right: 8px;
    height: 30px;
  }
}
