<!--
  Generated template for the CreateItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button clear (click)="closeModal()">Cerrar</button>
    <ion-buttons end>
      <button ion-button clear (click)="createFurniture()">Agregar objeto</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>


  <ion-list class="">
    <ion-item-divider>
      <ion-label class="">
        {{item.name}}
      </ion-label>
    </ion-item-divider>
    <!-- <ion-item-sliding *ngFor="let furniture of item.furniture; let i = index" class="">
      <ion-item>
        {{furniture.name}}
      </ion-item>
      <ion-item-options side="right">

        <button ion-button icon-only clear color="danger" (click)="deleteFurniture(furniture, i)">
          <ion-icon name="trash"></ion-icon>           
        </button>

        <button ion-button icon-only clear color="secondary" (click)="editFurniture(furniture)">
          <ion-icon name="create"></ion-icon>           
        </button>
      </ion-item-options>
    </ion-item-sliding> -->
    <ion-item *ngFor="let furniture of item.furniture; let i = index">
      <ion-row align-items-center>

        <ion-col col-7>

          {{furniture.name}}

        </ion-col>
        <ion-col col-5>
          <ion-buttons end>

            <button ion-button icon-only clear color="danger" (click)="deleteFurniture(furniture, i)">
              <ion-icon name="trash"></ion-icon>           
            </button>

            <button ion-button icon-only clear color="secondary" (click)="editFurniture(furniture)">
              <ion-icon name="create"></ion-icon>           
            </button>

          </ion-buttons>
        </ion-col>

      </ion-row>


    </ion-item>
  </ion-list>


</ion-content>